@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<Pokemon Names="@(new List<string>() {"Pichu", "Pikachu", "Raichu"})" ButtonTexts="@(new List<string>() {"High friendship", "Use Moonstone"})"/>
<Pokemon Names="@(new List<string>() {"Igglybuff", "Jigglypuff", "Wigglytuff"})" ButtonTexts="@(new List<string>() {"High friendship", "Use Moonstone"})" />
